:root{
  --primary : #5d42f5;
  --secondary: #d442f5;
  --card-primary: darkslategrey;
  --card-secondary: dimgrey;
}

* {
  font-family: "Arial";
  font-size:24px
}

body {
  background: linear-gradient(var(--primary), var(--secondary));
} 


header {
  padding: 18px; 
  color: white;
  text-align: center;
  margin-bottom: 15px;
}

header h1 {
  margin: 6px;
  font-size:40px; 
}


.center {
  justify-content:center;
}

.giant {
  margin: 12px;
}
.large {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.medium {
  flex: 1 0 100%;
   
}

.small {
  display: flex; 
  flex-direction: column;
  background-color: var(--card-primary);
  justify-content:  flex-start;
  border: dashed var(--secondary) 6px; 
  margin: 9px;
  align-items: center;
} 

.small h2{
  position: relative;
  top: -15px;
  padding: 6px;
  background-color: var(--card-secondary);
  outline: dashed white 3px;
}

@media screen and (min-width: 768px) {
  /* on tablets, set columns to only be 50% of the width and not grow */
  .medium {
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* select the last child to grow to full width if it has space to grow */
  .middle :last-child {
    flex-grow: 1;
  }
}

@media screen and (min-width: 992px) {
 
  .medium{
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}


