:root{
  --primary : #5d42f5;
  --secondary: #d442f5;
  --card-primary: darkslategrey;
  --card-secondary: dimgrey;
}

* {
  font-family: "Arial";
}

body {
  background: linear-gradient(var(--primary), var(--secondary));
} 


header {
  padding: 18px; 
  color: white;
  text-align: center;
}

header h1 {
  margin: 6px;
}


.center {
  justify-content:center;
}

.large {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.medium {
  flex: 1 0 100%;
  background-color: var(--card-primary);
   
}

.small {
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
 
}

@media screen and (min-width: 768px) {
  /* on tablets, set columns to only be 50% of the width and not grow */
  .medium {
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* select the last child to grow to full width if it has space to grow */
  .middle :last-child {
    flex-grow: 1;
  }
}

@media screen and (min-width: 992px) {
 
  .medium{
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}


